{
  "extends": "airbnb/legacy",
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "linebreak-style": 0,
    "no-param-reassign": 0,
    "no-console":0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
