
public/src/js/config-variables.js
public/src/js/config-variables-development.js

public/src/templates/compiledTemplates.js
public/src/server.js
public/src/css

public/www/
public/plugins/
public/platforms/
public/platform/
public/.sass-cache/
public/node_modules/

public/build.json
public/npm-debug.log
public/res/

*.keystore
*.swo
*.swp
*un~
keys/
*.DS_Store