.asset-not-found-page {
	padding: 10px;
	
	.asset-message {
		color: #000 !important;
		margin-top: 5px;

		h3 {
			margin-bottom: 7px;
		}
	}

	.collection {
		margin: 30px -10px;
    	border-top: 1px solid #ddd !important;	
	}

	 .collection .collection-item.avatar {
	 	min-height: 72px !important;
	    padding-left: 20px !important;
	 }

	 .collection .collection-item.avatar .title {
	    font-size: 16px;
	    font-weight: 500;
	    height: 30px;
	    @extend %truncate;

	 }

	 .collection .collection-item.avatar p {
	    font-size: 14px !important;
	    @extend %truncate;
	}

	.button-container {
		margin-top: 30px;
	}
}


.collection {
 border: 1px solid transparent !important;
}

%truncate {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.asset-found-page {
	padding: 0 16px;
	
	.asset-message {
		color: #000 !important;
		margin-top: 5px;

		h3 {
			margin-bottom: 7px;
		}
	}

	button {
		margin-right: 7px;
	}
	
	.collection {
		margin: 0 -16px;
    	// border-top: 1px solid #ddd !important;	
	}

	 .collection .collection-item.avatar {
	 	min-height: 72px !important;
	    padding-left: 20px !important;
	 }

	 .collection .collection-item.avatar .title {
	    font-size: 16px;
	    font-weight: 500;
	    @extend %truncate;
	    height: 30px;

	 }

	 .collection .collection-item.avatar p {
	    font-size: 14px !important;
	    @extend %truncate;
	}

	.button-container {
		margin-top: 30px;
	}
}