.brand-logo {
  font-size: 22px !important;
  left: 16% !important;
}

.bg-add-product {
	background-color: #4a8d9c;
}

.bg-handover {
	background-color: #b84275;
}

.bg-view-product {
	background-color: #9b4683;
}

.home-card {
    height: 150px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    text-align: center;

    .card-title {
    	line-height: 110px !important;
    	text-transform: uppercase;
    	font-weight: 400;
    	font-size: 22px !important;
    }
}

.add-product-page {
	padding: 0 10px;

	.input-field {
		top: 10px;
		margin-bottom: 20px;
	}

	.button-container {
		margin-top: 40px;
	}
}


.handover-page {
	padding: 0 10px;

	.input-field {
		top: 10px;
		margin-bottom: 20px;
	}

	.button-container {
		margin-top: 40px;
		margin-bottom: 30px;
	}
}


.success-page {
	padding: 0 16px;
	bottom: auto;
    left: 50%;
    max-height: calc(100% - 100px);
    position: fixed;
    right: auto;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

    p {
    	font-size: 19px;
    	margin-bottom: 20px;
    }
}


.details-product {
	background-color: #7c949f;
	text-align: left;

	h5 {
		margin-bottom: 10px;
	}
}

.product-details-page {
	padding: 0 10px;

	.collection {
		border: 1px solid transparent !important;
		
		.circle {
			font-style: normal;
		}

		.secondary-content {
			font-size: 12px !important;
		}

		.content-2 {
			margin-top: 23px;
			color: #888 !important;
		}
	}
}