::-webkit-scrollbar {
  background-color: transparent;
  display: none;
}

:-webkit-scrollbar-x {
  overflow-x: hidden;
}

// ::-webkit-scrollbar {
//     width: 0 !important;
//     background-color: transparent;
// }

 // scss-lint:disable all
body {
  background-color: #fff !important;
  -ms-content-zooming: none;
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: transparent;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  color: #555;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
button,
input,
select,
textarea,
table tr td {
  font-family: roboto-regular;
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}
p,
ul li,
a,
button,
input,
label,
select,
textarea,
table tr td {
  font-size: 16px;
}

.row .col {
  padding: 0;
}


input:not([type]):focus:not([readonly])+label, 
input[type=text]:not(.browser-default):focus:not([readonly])+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label, 
input[type=email]:not(.browser-default):focus:not([readonly])+label, 
input[type=url]:not(.browser-default):focus:not([readonly])+label, 
input[type=time]:not(.browser-default):focus:not([readonly])+label, 
input[type=date]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, 
input[type=tel]:not(.browser-default):focus:not([readonly])+label, 
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
input[type=search]:not(.browser-default):focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #000 !important;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #000 !important;
    -webkit-box-shadow: 0 1px 0 0 #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

input.valid:not([type]), input.valid:not([type]):focus, 
input.valid[type=text]:not(.browser-default), 
input.valid[type=text]:not(.browser-default):focus, 
input.valid[type=password]:not(.browser-default), 
input.valid[type=password]:not(.browser-default):focus, 
input.valid[type=email]:not(.browser-default), 
input.valid[type=email]:not(.browser-default):focus, 
input.valid[type=url]:not(.browser-default), 
input.valid[type=url]:not(.browser-default):focus, 
input.valid[type=time]:not(.browser-default), 
input.valid[type=time]:not(.browser-default):focus, 
input.valid[type=date]:not(.browser-default), 
input.valid[type=date]:not(.browser-default):focus, 
input.valid[type=datetime]:not(.browser-default), 
input.valid[type=datetime]:not(.browser-default):focus, 
input.valid[type=datetime-local]:not(.browser-default), 
input.valid[type=datetime-local]:not(.browser-default):focus, 
input.valid[type=tel]:not(.browser-default), 
input.valid[type=tel]:not(.browser-default):focus, 
input.valid[type=number]:not(.browser-default), 
input.valid[type=number]:not(.browser-default):focus, 
input.valid[type=search]:not(.browser-default), 
input.valid[type=search]:not(.browser-default):focus, 
textarea.materialize-textarea.valid, 
textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid  #000 !important;
    -webkit-box-shadow: 0 1px 0 0  #000 !important;
    box-shadow: 0 1px 0 0  #000 !important;
}


.modal {
  bottom: auto;
    left: 50% !important;
    max-height: calc(100% - 100px);
    right: auto;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}


.product-details-page {
  padding: 10px;

  .collection {
    margin: 0 -10px;
    // border-top: 1px solid #ddd !important;  
  }

   .collection .collection-item.avatar {
      min-height: 72px !important;
   }

   .collection .collection-item.avatar .title {
      font-size: 18px;
      font-weight: 500;
      height: 30px;
      color: #000 !important;
   }

   .collection .collection-item.avatar p {
      font-size: 14px !important;
      @extend %truncate;
  }

  .button-container {
    margin-top: 30px;
  }
}