.home-page {
	bottom: auto;
    left: 50% !important;
    max-height: calc(100% - 100px);
    position: fixed;
    right: auto;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
  	margin-top: 30px;
  	padding: 0 10px;

  	p {
  		font-size: 14px;
  		margin-bottom: 20px;
  	}

  	img {
  		width: 170px;
  		margin-bottom: 30px;
  	}
}



.bg-navbar {
	background-color: #2a9d8f !important;
}

.nav-right-icon {
	i {
		line-height: 56px;
	}
}


.header-width {
	display: inline-block;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-handover {
	width: 220px;
}

.transactions-btn {
	margin-top: 20px;
	font-weight: bold;
	color: #e76f51 !important;
}

