<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.infratab.freshtrack" android-versionCode="1" id="infratab.freshtrack" version="0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FreshTrack</name>
    <description>
       Infratab Ambrosus
    </description>
    <author email="thirupathir@infratab.in" href="http://infratab.in/">
        Infratab
    </author>
    <content src="index.html" />
    <access launch-external="yes" origin="mailto:*" />
    <allow-navigation href="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenBackgroundColor" value="#795548" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <platform name="android">
        <splash density="port-hdpi" src="www/img/splash/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="www/img/splash/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="www/img/splash/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="www/img/splash/splash-port-xhdpi.png" />
        <icon density="ldpi" src="www/img/splash/ldpi.png" />
        <icon density="mdpi" src="www/img/splash/mdpi.png" />
        <icon density="hdpi" src="www/img/splash/hdpi.png" />
        <icon density="xhdpi" src="www/img/splash/xhdpi.png" />
    </platform>
    <engine name="android" spec="~6.1.0" />
    <plugin name="cordova-plugin-websql" spec="~0.0.10" />
    <plugin name="phonegap-nfc" spec="~0.6.5" />
    <plugin name="cordova-plugin-device" spec="~1.1.4" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.6.1" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.1" />
    <plugin name="phonegap-plugin-barcodescanner" spec="https://github.com/Infratab/phonegap-plugin-barcodescanner/" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.1" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.9" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.1" />
    <plugin name="cordova-plugin-camera" spec="~2.3.1" />
    <plugin name="cordova.plugins.diagnostic" spec="~3.2.1" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
    <plugin name="ftmobile-cominterface" spec="https://github.com/Infratab/FTMobileComInterface" />
    <plugin name="cordova-android-support-gradle-release" spec="^1.2.0">
        <variable name="ANDROID_SUPPORT_VERSION" value="26.+" />
    </plugin>
    <plugin name="cordova-plugin-x-toast" spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin" />
</widget>
