<div class="col s12 product-details-page">

	<div class="card details-product">
	    <div class="card-content white-text">
	      <h5>Product Name: {{assetName}}</h5>
	      <h5>Product ID: Bubbly Silk</h5>
	      <h5>Organization Name: Bubbly Silk</h5>
	      <h5>Location Name: Bubbly Silk</h5>
	      <h5>Added By: Bubbly Silk</h5>
	    </div>
	</div>

	<div class="seprator">
		<h3>Handover(3)</h3>
	</div>

	<ul class="collection">
		{{#each events}}
		    <li class="collection-item avatar" id="{{eventId}}">
		    	{{content.data.[0].senderName}}
				{{eventId}}
		      	<i class="circle">J</i>
		      	<span class="title">John Doe</span>
		      	<p>John Snow</p>
		      	<span class="secondary-content">10 min ago</span>
		      	<span class="secondary-content content-2">10 min ago</span>
		    </li>
	    {{/each}}
  	</ul>

</div>