<div class="row col s12 asset-not-found-page">
	<div class="asset-message center"> 
		<h3>Asset doesn't exist!</h3>
		<h4>Do you want add this as asset?</h4>
	</div>

	<ul class="collection">
		<li class="collection-item avatar">
	      	<span class="title">93</span>
	      	<p>Points Remaining</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">Nike Steelers</span>
	      	<p>Prdouct Name</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">0883153834902</span>
	      	<p>Prdouct ID</p>
	    </li>

	   	<li class="collection-item avatar">
	      	<span class="title">Nike</span>
	      	<p>Brand</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">Nike Steelers Ben Roethlisberger Jersey</span>
	      	<p>Description</p>
	    </li>
  	</ul>

  	<div class="button-container">  		
    	<button class="btn orange" id="cancle">Cancel</button>
		<button class="btn black" id="addAsset">Add Asset</button>
    </div>
</div>