<div class="add-product-page col s12">
      <div class="input-field">
        <input disabled  id="product_id" type="text" class="validate" value="{{title}}">
        <label for="product_id" class="active">Product Name</label>
      </div>
      <button class="btn btn-lg waves-effect" id="addAsset">Add asset!</button>
      <button class="btn btn-lg waves-effect" id="cancle">Cancle</button>
</div>