<div class="check-status-summary-page">
  <div class="col s12 android-jelly-layout">

    <div id="tagType" class="tag-type-card">
      <button style="margin-top:10%; left: 20%" class="btn btn-md waves-effect" id="scanCode">Scan the product!</button>
    </div>
    <div>
    	<div> {{assetName}} </div>
    </div>
    <input type="checkbox" name="" value="" id="needProductData"> Want to add product data
    <div id="tagType" class="tag-type-card">
      <button style="margin-top:10%; left: 20%" class="btn btn-md waves-effect" id="cancel">Cancel</button>
      <button style="margin-top:10%; left: 20%" class="btn btn-md waves-effect" id="proceed">Proceed!</button>
    </div>
  </div>
</div>