<div class="">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input disabled placeholder="Placeholder" id="product_id" type="text" class="validate" value="{{productId}}">
            <label for="product_id">Product Id</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="product_name" type="text" class="validate" value={{productName}}>
            <label for="product_name">Product name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="org_name" type="text" class="validate">
            <label for="org_name">org_name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="location" type="text" class="validate">
            <label for="location">location</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="addedBy" type="text" class="validate">
            <label for="addedBy">addedBy</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="addDetails" type="text" class="validate">
            <label for="addDetails">addDetails</label>
          </div>
        </div>
      </form>
    </div>
    <div>
      <div> {{productId}} </div>
    </div>
    <div id="tagType" class="tag-type-card">
      <button class="btn btn-md orange waves-effect" id="cancel">Cancel</button>
      <button class="btn btn-md black waves-effect" id="addProduct">Add!</button>
    </div>
</div>