<div id="{{productId}}" class='success-page handover-confirmation-code-page'> 
	{{#if assetError}}
		<h3>It seems like you have scanned a wrong bar code. Please go back and scan it again.</h3>
	{{else}}
		<h4> Did you scan the correct confirmation code? </h4>
		<h4>If yes, then your partner's confirmation code might be corrupted. Please ask them to restart the app and try again </h4>
	{{/if}}
</div>