<div id="{{productId}}" class='success-page confirmation-code-message'> 
	{{#if assetError}}
		<h3> Wrong barcode </h3>
	{{else}}
		<h3> Did you scan the correct confirmation code? </h3>
		<h3>If yes, then your partner's confirmation code might be corrupted. Please ask them to restart the app and try again </h3>
	{{/if}}
</div>