<div class="navbar-fixed">
	<nav class="bg-navbar">
	    <div class="nav-wrapper container">
			<div id="logo-container" class="brand-logo left">
			  <span class="header-width"> {{{headerText}}} </span>
			  <span class="nav-right-icon right">
			  	<i class="icon-qrcode"></i>
			  	<i class="icon-user2"></i>
			  </span>
			</div>
			{{#if closeButton}}
				<a id="close" class="header-icon backButton"><i class="icon-close"></i></a>
			 {{/if}}
	     </div>
	</nav>
</div>