<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper blue-grey">
  	{{#if closeButton}}
  		<button id="close">close</button>
  	{{/if}}
    <a href="#!" class="brand-logo">{{headerText}}</a>
  </div>
</nav>