<div class="col s12">
    <div id="tagType" class="tag-type-card">
      <button class="btn btn-md waves-effect" id="addAsset">Add Asset!</button>
      <button class="btn btn-md waves-effect" id="getAsset">Get the Asset!</button>
    </div>
</div>
