<div class="check-status-summary-page">
  <div class="col s12 android-jelly-layout">

    <div id="tagType" class="tag-type-card">
      <button style="margin-top:10%; left: 20%" class="btn btn-md waves-effect" id="addAsset">Add Asset!</button>
      <button style="margin-top:10%; left: 20%" class="btn btn-md waves-effect" id="getAsset">Get the Asset!</button>
    </div>

  </div>
</div>
