<div class="col s12">
    <div id="tagType" class="tag-type-card">

	    <div class="card home-card bg-add-product" id="addAsset">
	        <div class="card-content white-text">
	          <span class="card-title">Add Product</span>
	        </div>
	    </div>

	    <div class="card home-card bg-view-product" id="getAsset">
	        <div class="card-content white-text">
	          <span class="card-title">View Product</span>
	        </div>
	    </div>

	    <div class="card home-card bg-handover" id="addEvent">
	        <div class="card-content white-text">
	          <span class="card-title">Handover</span>
	        </div>
	    </div>

    </div>
</div>

<div class="col s12 product-details-page">
	<h1>View Product</h1>


		<div class="card details-product">
	        <div class="card-content white-text">
	          <h5>Product Name: Bubbly Silk</h5>
	          <h5>Product ID: Bubbly Silk</h5>
	          <h5>Organization Name: Bubbly Silk</h5>
	          <h5>Location Name: Bubbly Silk</h5>
	          <h5>Added By: Bubbly Silk</h5>
	        </div>
	    </div>

	    <div class="seprator">
	    	<h3>Handover(3)</h3>
	   	</div>

	   	  <ul class="collection">
		    <li class="collection-item avatar">
		      <i class="circle">J</i>
		      <span class="title">John Doe</span>
		      <p>John Snow</p>
		      <span class="secondary-content">10 min ago</span>
		      <span class="secondary-content content-2">10 min ago</span>
		    </li>

		    <li class="collection-item avatar">
		      <i class="circle black">A</i>
		      <span class="title">Alexi</span>
		      <p>John</p>
		      <span class="secondary-content">10 min ago</span>
		    </li>

		    <li class="collection-item avatar">
		      <i class="circle black">J</i>
		      <span class="title">John Doe</span>
		      <p>John</p>
		      <span class="secondary-content">10 min ago</span>
		    </li>
		  </ul>
</div>
