
<div class="row col s12" style="display:none">

    <div class="card home-card bg-add-product" id="addTransaction">
        <div class="card-content white-text">
          <span class="card-title">Handover Asset</span>
        </div>
    </div>

    <div class="card home-card bg-view-product" id="getAsset">
        <div class="card-content white-text">
          <span class="card-title">View transaction</span>
        </div>
    </div>

   	<div class="card home-card bg-handover" id="showConfirmationCode">
        <div class="card-content white-text">
          <span class="card-title">Confirmation Code</span>
        </div>
    </div>

    <div class="card home-card bg-handover" id="editProfile">
        <div class="card-content white-text">
          <span class="card-title">Profile</span>
        </div>
    </div>
</div>


