
<div class="row col s12">

    <div class="card home-card bg-add-product" id="addTransaction">
        <div class="card-content white-text">
          <span class="card-title">Handover Asset</span>
        </div>
    </div>

    <div class="card home-card bg-view-product" id="getAsset">
        <div class="card-content white-text">
          <span class="card-title">View transaction</span>
        </div>
    </div>

   	<div class="card home-card bg-handover" id="showConfirmationCode">
        <div class="card-content white-text">
          <span class="card-title">Confirmation Code</span>
        </div>
    </div>

    <div class="card home-card bg-handover" id="editProfile">
        <div class="card-content white-text">
          <span class="card-title">Profile</span>
        </div>
    </div>
</div>


<div class="row col s12 transaction-page">
	<ul class="collection">
	    <li class="collection-item avatar" >
	      	<i class="circle">92</i>
	      	<span class="title">Handover Asset</span>
	      	<p>John Doe</p>
	      	<span class="secondary-content">13th Jan</span>
	      	<span class="secondary-content content-2">Bangalore</span>
	    </li>

	    <li class="collection-item avatar" >
	      	<i class="circle">92</i>
	      	<span class="title">Handover Asset</span>
	      	<p>John Doe</p>
	      	<span class="secondary-content">13th Jan</span>
	      	<span class="secondary-content content-2">Bangalore</span>
	    </li>

	   	<li class="collection-item avatar" >
	      	<i class="circle">92</i>
	      	<span class="title">Handover Asset</span>
	      	<p>John Doe</p>
	      	<span class="secondary-content">13th Jan</span>
	      	<span class="secondary-content content-2">Bangalore</span>
	    </li>
  	</ul>
</div>