<div class="row col s12">
	<div class="col s6 home-card" id="addEvent">
		<img src="img/handover-icon.png">
        <h6>Handover</h6>
        <h6>Asset</h6>
    </div>

    <div class="col s6 home-card" id="getAsset">
    	<img src="img/transcation-icon.png">
        <h6>View</h6>
        <h6>Transcations</h6>
    </div>

   	<div class="col s6 home-card" id="confirmationCode">
   		<img src="img/scan-icon.png">
        <h6>Confirmation</h6>
        <h6>Code</h6>
    </div>

   	<div class="col s6 home-card" id="profile">
   		<img src="img/user-icon.png">
        <h6>Profile</h6>
    </div>

</div>