<div class="col s12">
    <div id="tagType" class="tag-type-card">

	    <div class="card home-card bg-add-product" id="addAsset">
	        <div class="card-content white-text">
	          <span class="card-title">Add Product</span>
	        </div>
	    </div>

	    <div class="card home-card bg-view-product" id="getAsset">
	        <div class="card-content white-text">
	          <span class="card-title">View Product</span>
	        </div>
	    </div>

	    <div class="card home-card bg-handover" id="addEvent">
	        <div class="card-content white-text">
	          <span class="card-title">Handover</span>
	        </div>
	    </div>

    </div>
</div>
