<div class="modal-content locationServicie">
  <h3>Turn on location service!</h3>
  <p>To be able to use Freshtime Mobile, please enable your location services</p>
</div>
<div class="modal-footer">
  <a id="enable" class="waves-effect btn-flat modal-action">enable</a>
</div>
