<div class="col s12 handover-confirmation-code-page">
	<h3>You are seeing this message because we could not find any transactions recorded by this device. </h3>
    <h3>Please start using Smart Perishable Mobile and return to this section again!</h3>
</div>
