<div id="appbarSidebar">
	<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue-grey">
        <a href="#!" class="brand-logo">Home</a>
      </div>
    </nav>
</div>
</div>
<div id="body"></div>
<div id="footer"></div>
