<div class="row">
  	<div class="col s12 handover-confirmation-code-page center">
  		<p>Scan your partner's confirmation code to confirm this handover</p>
 	  	<button class="btn btn-large bg-indigo" id="scan">Scan partner's confirmation code</button>
 	 </div>
</div>