<div class="row">
  	<div class="col s12 handover-confirmation-code-page confirmation-code-message">
  		<h3>Scan your partner's confirmation code to complete this handover</h3>
 	  	<button class="btn btn-large bg-navbar" id="scan">Scan code</button>
 	 </div>
</div>
