<div class="col s12 handover-page">
  <form>

    <div class="input-field">
      <input id="userName" type="text" class="validate" value="{{userName}}">
      <label for="userName" class="active" >Your Name</label>
    </div>

    <div class="input-field">
      <input id="email" type="email" class="validate" value="{{email}}">
      <label for="email" class="active">Company Email</label>
    </div>

    <div class="input-field">
      <input id="orgName" type="text" class="validate" value="{{orgName}}">
      <label for="orgName" class="active">Organization Name</label>
    </div>

  </form>

  <div  class="button-container">
    <button class="btn bg-standy" id="clear">Clear</button>
    <button class="btn bg-navbar" {{buttonState}} id="save">Save</button>
  </div>

</div>