<div class="col s12 handover-page">
  <form>

    <div class="input-field">
      <input id="userName" type="text" class="validate">
      <label for="userName">User Name</label>
    </div>

    <div class="input-field">
      <input id="orgName" type="text" class="validate">
      <label for="orgName">Organization Name</label>
    </div>

    <div class="input-field">
      <textarea id="email" class="materialize-textarea validate"></textarea>
      <label for="email">Email</label>
    </div>

  </form>

  <div id="tagType" class="button-container">
    <button class="btn btn-lg black" id="save">Confirm</button>
  </div>

</div>