<div class="col s12 handover-page">
  <form>

    <div class="input-field">
      <input id="userName" type="text" class="validate" value="{{userName}}">
      <label for="userName">Your Name</label>
    </div>

    <div class="input-field">
      <input id="email" type="email" class="validate" value="{{email}}">
      <label for="email">Company Email</label>
    </div>

    <div class="input-field">
      <input id="orgName" type="text" class="validate" value="{{orgName}}">
      <label for="orgName">Organization Name</label>
    </div>

  </form>

  <div  class="button-container">
    <button class="btn orange">Clear</button>
    <button class="btn black" id="save">Save</button>
  </div>

</div>